src/main/XSD/hypermedia-common-types.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.thehutgroup.com/hypermedia-common-types" targetNamespace="http://xml.thehutgroup.com/hypermedia-common-types" elementFormDefault="qualified">
<xs:complexType name="link">
<xs:attribute name="rel" type="xs:anyURI"/>
<xs:attribute name="href" type="xs:anyURI"/>
<xs:attribute name="mediaType" type="xs:string" use="optional"/>
</xs:complexType>
<xs:complexType name="links">
<xs:sequence>
<xs:element name="link" type="tns:link" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>